@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("./home/bg.png") no-repeat top center / 100% 40%;
  background-attachment: fixed;
  font-family: "Josefin Sans", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  letter-spacing: -0.01em;

  background-color: #f0f0f0;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 5px;
}

@media screen and (min-width: 200px) {
  .container {
    padding: 0 20px;
  }
}

.after-ico::after {
  content: "";
  background: url("./home/arrow-ico.svg") no-repeat top center;
  width: 18px;
  height: 18px;
  display: block;
}
